
@{
    ViewBag.Title = "Addemployee";
}

<h2>Addemployee</h2>
<h2>Addemployee</h2>

<form action="" method="post">
    <table>
        <tr>
            <td>
                Name
            </td>
            <td>
                <input type="text" name="e_name" />
            </td>
        </tr>
        <tr>
            <td>
                Password
            </td>
            <td>
                <input type="Text" name="e_pass" />
            </td>
        </tr>
        <tr>
            <td>
                Username
            </td>
            <td>
                <input type="Text" name="e_uname" />
            </td>
        </tr>


        <tr>
            <td>
                <button type="submit" name="Add">
                    Add
                </button>
            </td>
        </tr>
    </table>
</form>


