
@{
    ViewBag.Title = "Admin";
}

<h2>Admin</h2>
<form method="post">
    <input type="hidden" name="id" class="form-control" />

    <a href="/restaurant/List">

        <label class="btn-group-justified"> See List </label>
    </a>
    <p>

    </p>

    Restaurant Name: <input type="text" name="res_name" class="form-control" />
    Employee Name:  <input type="text" name="emp_name" class="form-control" />
    Expiry Date: <input type="date" name="expiry" class="form-control" />



    <p>

    </p>

    <input type="submit" name="Submit" class="btn-success">


</form>


